<div id="cl-wrapper">
  <div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <div class="sidebar-logo" ui-sref="app.home">
            <div class="logo">
            </div>
          </div>
          <ul class="cl-vnavigation">
            <li>
              <a href="#"><i class="fa fa-home"></i><span>Accueil</span></a>
              <ul class="sub-menu">
                <li><a ui-sref="app.home">Acceuil</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="pcont">
    <!-- TOP NAVBAR -->
    <div id="head-nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right user-nav">
            <li class="dropdown profile_menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{currentUser.firstname}} {{currentUser.lastname}}</span>
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">My Account</a></li>
                <li class="divider"></li>
                <li><a ui-sref="logout" ui-sref-opts="{reload: true}">Deconnexion</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav not-nav">
            <li class="button dropdown">
              <a ng-click="goBack()"><i class="fa fa-arrow-left"></i></a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse animate-collapse -->
      </div>
    </div>
    <div class="cl-mcont">
      <div ui-view></div>
    </div>
  </div>
</div>
